-- query12
CREATE TABLE [tst].[query12] WITH (HEAP, DISTRIBUTION=ROUND_ROBIN) AS 
SELECT 
         i_item_id , 
         i_item_desc , 
         i_category , 
         i_class , 
         i_current_price , 
         Sum(ws_ext_sales_price)                                                              AS itemrevenue ,
         Sum(ws_ext_sales_price)*100/Sum(Sum(ws_ext_sales_price)) OVER (partition BY i_class) AS revenueratio
FROM     web_sales , 
         item , 
         date_dim 
WHERE    ws_item_sk = i_item_sk 
AND      i_category IN ('Home', 
                        'Men', 
                        'Women') 
AND      ws_sold_date_sk = d_date_sk 
AND      Cast(d_date AS DATE) BETWEEN Cast('2000-05-11' AS DATE) AND      ( 
                  Cast('2000-06-11' AS DATE)) 
GROUP BY i_item_id , 
         i_item_desc , 
         i_category , 
         i_class , 
         i_current_price 
-- ORDER BY i_category , 
         -- i_class , 
         -- i_item_id , 
         -- i_item_desc , 
         -- revenueratio 
